* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.btn-focus:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-bg-color-1 {
  background-color: #2c724f;
}

.main-txt-color-1 {
  color: #2c724f;
}

.footer-txt-color {
  color: #666666;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.footer-txt-color:hover {
  color: #2c724f;
}

.footer-input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #ccc;
  background-color: #f2f5f6;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.footer-input:focus {
  outline: none;
  border-color: #2c724f;
}

.fs-14 {
  font-size: 14px;
  font-weight: 600;
}

.font-style {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.z-index {
  z-index: 1;
  position: relative;
}

/*===================================================*/
/*===================================================*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/*===================================================*/
/*===================================================*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  background-color: white;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px 0px #ccc;
          box-shadow: 0 0 5px 0px #ccc;
}

nav {
  background-color: transparent;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  z-index: 1042;
}

nav .container-xl .navbar-collapse .navbar-nav .nav-item:nth-child(1) .nav-link {
  color: #2c724f;
}

nav .container-xl .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: black;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

nav .container-xl .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #2c724f;
}

nav .container-xl .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .container-xl .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  -webkit-box-shadow: 0px 0px 15px rgba(204, 204, 204, 0.4);
          box-shadow: 0px 0px 15px rgba(204, 204, 204, 0.4);
  margin: 0;
  border-radius: 10px;
}

nav .container-xl .navbar-collapse .navbar-nav .dropdown .dropdown-menu a {
  background-color: transparent;
  -webkit-transition: 300ms padding-left;
  transition: 300ms padding-left;
}

nav .container-xl .navbar-collapse .navbar-nav .dropdown .dropdown-menu a:active {
  color: black;
}

nav .container-xl .navbar-collapse .navbar-nav .dropdown .dropdown-menu a:hover {
  background-color: transparent;
  padding-left: 20px;
  -webkit-transition: 300ms padding-left;
  transition: 300ms padding-left;
}

nav .container-xl .modal .modal-dialog .modal-content-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

nav .container-xl .modal .modal-dialog .modal-content-bg .modal-header .modal-btn {
  padding-top: 30px;
  color: white;
  opacity: 1;
}

nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content {
  width: 50%;
  position: relative;
}

nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input {
  background-color: white;
  border: 0;
  height: 50px;
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input:focus {
  outline: 0;
}

nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content a {
  color: black;
  position: absolute;
  right: 10px;
  line-height: 48px;
}

@media (max-width: 991px) {
  nav .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 30%;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-header .modal-btn {
    padding-top: 30px;
    padding-right: 0;
    color: white;
    opacity: 1;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content {
    width: 100%;
    position: relative;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input {
    background-color: white;
    border: 0;
    height: 50px;
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input:focus {
    outline: 0;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content a {
    color: black;
    position: absolute;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  nav .container-xl .modal .modal-dialog .modal-content-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-header .modal-btn {
    padding-top: 30px;
    padding-right: 0;
    color: white;
    opacity: 1;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content {
    width: 100%;
    position: relative;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input {
    background-color: white;
    border: 0;
    height: 50px;
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content input:focus {
    outline: 0;
  }
  nav .container-xl .modal .modal-dialog .modal-content-bg .modal-body .modal-search-content a {
    color: black;
    position: absolute;
    line-height: 48px;
  }
}

/*===================================================*/
/*===================================================*/
.header-img-section {
  background-image: url("https://template.hasthemes.com/consultix/consultix/images/main-slider/intro-1.jpg");
  height: 600px;
  margin-top: -70px;
  width: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img-section .container-xl .row .col-12 div {
  width: 50%;
}

.header-img-section .container-xl .row .col-12 div a {
  position: relative;
  background-color: #2c724f;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-img-section .container-xl .row .col-12 div a::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 100%;
  left: 50%;
  top: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: transparent;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.header-img-section .container-xl .row .col-12 div a:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #262626;
  opacity: 0.8;
  z-index: 1;
  border-radius: 0;
}

@media (max-width: 991px) {
  .header-img-section {
    margin-top: 0;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .header-img-section {
    height: 400px;
  }
  .header-img-section .container-xl .row .col-12 div {
    width: 100%;
    text-shadow: 1px 1px 0px white;
  }
}

/*===================================================*/
/*===================================================*/
.contact-section {
  height: 200px;
  background-image: url("https://template.hasthemes.com/consultix/consultix/images/background/cta-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/*===================================================*/
/*===================================================*/
.business-section .container .row .col-lg-3 {
  position: relative;
  overflow: hidden;
}

.business-section .container .row .col-lg-3:hover {
  cursor: pointer;
}

.business-section .container .row .col-lg-3:hover h5 {
  color: #2c724f;
}

.business-section .container .row .col-lg-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: transparent;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.business-section .container .row .col-lg-3:hover::before {
  height: 3px;
  z-index: 1;
  background-color: #2c724f;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.business-section .container .row .col-lg-3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.business-section .container .row .col-lg-3:hover::after {
  background-color: #f2f5f6;
  opacity: 0.4;
}

/*===================================================*/
/*===================================================*/
.photo-blog-section .container-fluid .row .col-lg-6 .blog-img-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-blog-section .container-fluid .row .col-lg-6 .blog-img-box .blog-img {
  position: absolute;
  width: 100%;
  background-color: transparent;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: -100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.photo-blog-section .container-fluid .row .col-lg-6 .blog-img-box:hover .blog-img {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  background-color: #2c724f;
  opacity: 1;
  bottom: 0;
}

/*===================================================*/
/*===================================================*/
.clients-section .container-xl .swiper .swiper-wrapper .swiper-slide .card {
  position: relative;
}

.clients-section .container-xl .swiper .swiper-wrapper .swiper-slide .card::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 0px;
  background-color: #2c724f;
  top: 0;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  left: 50%;
  right: 50%;
}

.clients-section .container-xl .swiper .swiper-wrapper .swiper-slide .card:hover::before {
  height: 3px;
  width: 100%;
  left: 0;
}

/*===================================================*/
/*===================================================*/
.sponsor-section .container-xl .swiper .swiper-wrapper .swiper-slide a img {
  opacity: 0.65;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.sponsor-section .container-xl .swiper .swiper-wrapper .swiper-slide a img:hover {
  opacity: 1;
}

/*===================================================*/
/*===================================================*/
.register-section .container-xl .row .col-lg-5 .register-btn a {
  background-color: #2c724f;
  color: white;
  height: 50px;
  font-weight: 500;
  line-height: 35px;
}

.register-section .container-xl .row .col-lg-5 .register-btn a::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  background-color: #262626;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.register-section .container-xl .row .col-lg-5 .register-btn a:hover::before {
  width: 100%;
  left: 0;
  opacity: 1;
}

/*===================================================*/
/*===================================================*/
.team-section .container-xl .row .col-lg-4 .card .team-card-total {
  position: relative;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2c724f;
  opacity: 0;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total:hover::before {
  opacity: 0.4;
  z-index: 1;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total img {
  -webkit-transition: 400ms all;
  transition: 400ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total:hover {
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total:hover .team-icon {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  right: 0;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon {
  z-index: 2;
  position: absolute;
  display: inline;
  background-color: white;
  right: -40%;
  bottom: 10px;
  border-radius: 0;
  padding: 10px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a {
  color: #ccc;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a svg {
  margin-bottom: 5px;
}

.team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a:hover {
  color: #2c724f;
}

@media (max-width: 675px) {
  .team-section .container-xl .row .col-lg-4 .card .team-card-total {
    position: relative;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2c724f;
    opacity: 0;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total:hover::before {
    opacity: 0.4;
    z-index: 1;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total img {
    -webkit-transition: 400ms all;
    transition: 400ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total:hover {
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total:hover .team-icon {
    -webkit-transition: 300ms all;
    transition: 300ms all;
    right: 0;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon {
    z-index: 2;
    position: absolute;
    display: inline;
    background-color: white;
    right: -50%;
    bottom: 10px;
    border-radius: 0;
    padding: 10px;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a {
    color: #ccc;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a svg {
    margin-bottom: 5px;
  }
  .team-section .container-xl .row .col-lg-4 .card .team-card-total .team-icon a:hover {
    color: #2c724f;
  }
}

/*===================================================*/
/*===================================================*/
.blog-section .container-xl .row .col-lg-4 .blog-post {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.blog-section .container-xl .row .col-lg-4 .blog-post span {
  color: #2c724f;
}

.blog-section .container-xl .row .col-lg-4 .blog-post a {
  color: black;
}

.blog-section .container-xl .row .col-lg-4 .blog-post p {
  font-size: 14px;
  color: #ccc;
}

.blog-section .container-xl .row .col-lg-4 .blog-post:hover {
  background-color: #2c724f;
  color: white;
}

.blog-section .container-xl .row .col-lg-4 .blog-post:hover span {
  color: white;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.blog-section .container-xl .row .col-lg-4 .blog-post:hover a {
  color: white;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.blog-section .container-xl .row .col-lg-4 .blog-post:hover p {
  color: white;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

@media (max-width: 767px) {
  .blog-section .container-xl .row .col-lg-4 .blog-post {
    width: 100%;
    height: 300px;
  }
}

/*===================================================*/
/*===================================================*/
/*# sourceMappingURL=styles.css.map */